@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/* font-family: 'Cookie', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-color: #ff385c;
    --main-shadow: rgb(198, 196, 196);
    --main-bg: #41464b;
    --main-card-color:#ff385d48;
    --text-black: #000;
    --text-white: #fff;
}

#showPriceDays{
    font-size: 2.5rem;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-bg);
    /* to disable text selection */
    user-select: none;
}


/* declaring a hidden class to dynamically add with js */
.hidden {
    display: none !important;
    transition: 500ms ease-in;
}

/* icon style  */

.material-symbols-outlined {
    font-size: 2.5rem !important;
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

#main_icon {
    color: var(--main-color) !important;
    font-size: 2.5rem !important;
    transform: translateY(-0.5rem);
}
#main_icon:hover{
    transform: translateY(-0.5rem) !important;
}

p {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

a,
button,
span,
input,
li,
ul,
input,
label,
input::placeholder {
    font-size: 1.5rem !important;
}

.search_icon {
    color: white;
    background-color: var(--main-color);
    border-radius: 50%;
    font-size: 2rem !important;
    padding: 0.3em;
}

#bottom_header .search_icon {
    font-size: 3rem !important;
}

.dropdown_icon,
.account_icon {
    padding: 0;
    font-size: 3rem !important;
}

#plus_icon,
#minus_icon {
    color: var(--text-white);
    background-color: rgb(95, 92, 92);
    border-radius: 50%;
    border: none;
    font-size: 2rem !important;
}


/* header style */
#header_container_wrapper{

    /* box-shadow: 0 0.1rem 0.3rem 0.1rem var(--text-white); */
    border: none;
    background-color: var(--main-shadow) !important;
}

header {
    /* background-color: gainsboro; */
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0;
    gap: 1rem;
    /* border-bottom: 0.03rem ridge var(--main-shadow); */
}

header button {
    background-color: inherit;
    border-radius: 50%;
    border: none;
}

header a {
    text-decoration: none;
    color: inherit;
}

.span_fade {
    font-weight: 400;
    color: gray;
    font-size: 1.8rem;
}

/* top header style  */
@media only screen and (max-width: 940px){
    #user_info{
        visibility: hidden;
    }
    
}

@media only screen and (max-width: 768px) {
    header #top_header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
    }
    .card-img-top{
        height: auto !important;
        border-radius: 2rem;
    }

    header #top_header #top_middle_header{
        display: flex;
        justify-content: space-between;
        width: 100% !important;
    }

    #host_div{
        display: none;
    }

    .card{
        margin:0.5rem auto !important;
        width: 90vw;
    }
}

header #top_header {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 1fr 1.5fr 1fr;
    /* align-items: center; */
    font-weight: 700;
}

header #top_header #top_front_header {
    display: flex;
    padding-top: 0.9rem;
    align-items: center;
}



header #top_header #top_front_header h2 {
    color: var(--main-color);
    font-size: 1.9rem;
    font-weight: 1000;
    /* padding: 0 0.2rem; */
    text-shadow: 0 0.05rem 0.1rem var(--main-bg);
}


header #top_header #top_middle_header {
    display: flex;
    align-items: center;
    border: none;
    justify-content: space-between;
    width: 55%;
    margin: auto;
    /* border: 0.05rem gray groove; */
    box-shadow: 0 0.05rem 0.3rem var(--main-shadow);
    border-radius: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--main-bg);
    color: var(--text-white);
    padding-left: 1rem;
}

header #top_header #top_middle_header span:hover,
header span:hover {
    cursor: pointer;
    transition: 0.2s linear;
    transform: scale(1.1) !important;
}



header #top_header #top_end_header {
    display: flex;
    align-items: center;
    /* max-width: 100%; */
    /* flex-basis: 100%; */
    justify-content: flex-end;
    gap: 10rem;
    /* position: relative; */
    /* min-width: 0; */
    /* background-color: #ff385c; */
}

/* bottom header style */

header #bottom_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41464b;
    color: var(--text-white);
    /* gap: 1rem; */
    /* padding: 0.5rem; */
    box-shadow: 0 0.05rem 0.3rem gray;
    border-radius: 2.5rem;
    padding: 0.5rem;
    margin: auto;
    width: max-content;
}

#bottom_header select{
    background-color: inherit;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

header #bottom_header #bottom_front_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right: 8rem; */
    flex-basis: 100%;
    min-width: max-content;
    padding-right: 1rem;
}

header #bottom_header #bottom_end_header div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

header #bottom_header #bottom_end_header {
    display: flex;
    flex-basis: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 1rem;
}

#guest_count_container {
    z-index: 1;
    position: absolute;
    top: 100%;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--text-white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0.05rem 0.3rem var(--main-shadow);
    /* color: var(--text-white); */
}

#guest_count_container div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* text-align: center; */
    align-items: center;
    /* padding: 1rem; */
    /* justify-content: center; */
}

#guest_count_container div:first-child div:nth-child(2) {
    /* background-color: red ; */
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}


#guest_count_container div:nth-child(2) {
    text-align: center;
}

#guest_count_container input[type=text] {
    color: rgb(23, 22, 22);
    width: 5rem;
    font-size: 1.5rem;
    line-height: 4rem;
    background-color: white;
    border-radius: 50%;
    border: 0.2rem solid gray;
}

header #bottom_header #bottom_middle1_header {
    border-left: 0.1rem dotted black;
    border-right: 0.1rem dotted black;
    /* padding: 0 3rem; */
    display: flex;
    flex-basis: 100%;
    align-items: center;
    flex-direction: column;
    min-width: max-content;
}


header #bottom_header #bottom_middle2_header {
    border-right: 0.1rem dotted black;
    /* padding: 0 3rem 0 0; */
    display: flex;
    flex-basis: 100%;
    align-items: center;
    flex-direction: column;
    min-width: max-content;
}

header #bottom_header input {
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    background-color: inherit;
    padding: 0 1rem;
}

select {
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    color: gray;
    font-size: 1rem;
    /* font-weight: 700; */
    /* to remove the caret icon in tag  */
    appearance: none;
}

/* bootstrap styling */
.card {
    padding: 0.8rem;
    border: none;
    box-shadow: 0 0.05rem 0.3rem gray;
    border-radius: 2rem;
    box-sizing: content-box;
    margin: 2rem;
    /* background-color: #ccc; */
    background-color: var(--main-shadow);
    display: flex;
    color: var(--text-white);
    flex-direction: column;
    gap: 0.5rem;
}

.card-body h5{
    font-size: 2rem;
    font-family: 'Aref Ruqaa Ink', serif;
    font-weight: bold;
    color: black;
}
/* .card-body h5:hover
{
    transition: 0.1s linear;
    text-shadow: 0.1rem 0.35rem 0.2rem var(--main-bg) ;
} */

.card ul{
    border-radius: 1.3rem;
}
.card ul li{
    background-color: var(--main-bg);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card ul li span{
    font-size: 1.3rem !important;
    font-weight: 700;
}

.card ul li span:last-child{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.star-icon{
    font-size: 1.4rem !important;
    color: var(--main-color);
}

.price_btn{
    box-shadow: 0 0.05rem 0.3rem var(--main-bg);
    background-color: var(--text-white);
    font-weight: bold;
    /* color: var(--main-color); */
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
    padding-left: 2rem;
}

.price-icon{
    opacity: 0;
    color: var(--main-color);
}
.price_btn:hover .price-icon{
    opacity: 100;
    transition: 0.2s linear;
}
.price_btn:hover span{
    
    transition: 0.1s linear;
    text-shadow: 0.1rem 0.35rem 0.2rem var(--main-bg) ;
}

.price_btn:hover,.card-img-top:hover{
    transform: scale(1.01);
    transition: 0.2s linear;
}
.card-img-top{
    height: 18rem;
    width: auto;
    border-radius: 1.2rem;
    box-shadow: 0 0.1rem 0.3rem var(--main-bg);
}


.row {
    padding: 0;
}

#header_container_wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--text-white);
}

/* footer  */
footer {
    line-height: 4rem;
    /* box-shadow: 0 -0.2rem 0.3rem  var(--main-shadow); */
    display: flex;
    border-top: 0.05rem ridge var(--main-shadow);
    justify-content: space-between;
    /* this will always keep footer at the bottom  */
    /* margin-top: auto; */
    /* background-color: var(--text-white); */
    /* box-shadow: 0 0.3rem 0.4rem 0.1rem var(--text-white) !important; */
    border: none;
}

code{
    color: black;
    font-size: 1.5rem;
}

#contactBtn{
    cursor: pointer;
    font-weight: bold;
    font-size: 1.7rem !important;
}

#contactBtn:hover{
    transform: scale(1.02);
    transition: 0.1s linear;
    cursor: pointer;
    /* color: var(--main-color); */
    text-shadow: 0.05rem 0.4rem 0.2rem var(--main-bg) ;
}

#footer-container {
    background-color: var(--main-shadow) !important;
    position: sticky;
    bottom: 0;
}

/* img {
    
    width: auto;
    height: auto;
    border-radius: 0.3rem;
    
} */

/* header dropdown styling  */
#dropdown_wrapper{
    position: relative;
}
#dropdown_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    /* border: 0.05rem gray groove; */
    box-shadow: 0 0.05rem 0.3rem gray;
    border-radius: 2rem;
    padding: 0.5rem;
    top: -2rem;
    right: 0;
    /* left: 0; */
    /* bottom: 0; */
    gap: 2rem;
    /* background-color: var(--text-white); */
    background-color: var(--main-bg);
    color: var(--main-shadow);
    font-weight: bold;
}

#top_header_dropdown_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    /* position: absolute; */
}

#dropdown_button_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#dropdown_button_container input[type=button] {
    background-color: var(--main-bg);
    box-shadow: 0 0.05rem 0.3rem gray;
    border-radius: 2rem;
    padding: 0.5rem;
    color: var(--main-shadow);
    font-weight: 700;
}
#dropdown_button_container input[type=button]:hover{
    transform: scale(1.02);
    transition: 0.1s linear;
    color: var(--main-color);
}

/* modal styling  */
.modal_container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal_content {
    width: 50%;
    margin: 6rem auto;
    /* background-color: var(--text-white); */
    background-color: var(--main-shadow);
    padding: 2rem;
    font-weight: bold;
    border-radius: 0.5rem;
}

.modal-form input:focus{
    background-color: var(--main-bg);
    outline: none;
    box-shadow: none;
    color: var(--text-white) !important;
}

.modal-form h2{
    color: var(--text-black) !important;
    font-weight: bold;
}

.modal-form input{
    background-color: var(--main-bg);
    color: var(--text-white);
}

.modal-form label{
    color: var(--text-black);
    font-weight: 800;
}

.modal-form button{
    background-color: var(--main-color);
    outline: none;
    color: var(--text-black);
    border: none;
    font-weight: 700;
    width: fit-content;
}

.modal-form input::placeholder{
    color: var(--main-shadow);
}

.modal-form textarea{
    background-color: var(--main-bg);
    font-size: 1.5rem;
    color: var(--text-white);

}
.modal-form textarea:focus{
    background-color: var(--main-bg);
    font-size: 1.5rem;
    color: var(--text-white);
    box-shadow: none;
}
.modal-form select:focus{
    box-shadow: none;
}

#select-input-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
}

#select-input-wrapper div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#select-input-wrapper div label{
    color: rgb(41, 91, 238);
}

/* .modal_content input{
    background-color: red;
} */

#login_modal_container form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}



#contact_modal_form {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}



#signup_form input{
    margin: 1rem 0;
}

#signup_form select{
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    outline: none;
    background-color: var(--main-bg);
    color: var(--text-white);
}


.alert_modal_container {
    background-color: var(--main-shadow);
    width: 80%;
    text-align: center;
    color: var(--main-bg);
    font-weight: bold;
    padding: 2rem;
}

#logout_modal_container h2{
    color: rgb(33, 96, 6) !important;
}
#logout_modal_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* property page styling   */
img{
    max-width:100%
}
@media only screen and (min-width: 768px) {
    
    /* .gallery-wrapper{
    } */
    .gallery_main_img{
        height: 38.4rem;
    }
    
    .gallery-img{
        height: 18.6rem;
        width: 100%;
    }

    #property-details-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
    }

    #booking-form-wrapper{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-end;
    }
    
}
#property-details-wrapper{
    color: var(--text-white);
}
#property-details-wrapper h2{
    font-family: 'Aref Ruqaa Ink', serif;
    font-size: 3rem;
    color: var(--text-white);
    margin-bottom: 2rem;
    font-weight: bold;
    text-shadow: 0 0.05rem 0.1rem black;
}

#profile-img-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile-img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    /* margin-right: 1rem; */
    cursor: pointer;

}

.gallery-wrapper p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.gallery-wrapper p span:first-child{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.gallery-wrapper{
    /* background-color: var(--main-card-color); */
    padding-bottom: 2rem !important;
    padding: 1rem;
    border-radius: 1rem;
}

.gallery-wrapper h2
{
    text-shadow: 0.1rem 0.2rem 0.2rem var(--main-shadow) !important;
}
.gallery-wrapper img{
    border-radius: 1rem;
}

.gallery-wrapper p span:first-child span:first-child{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    /* background-color:#000 ; */
}

#details-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: black;
}

#details-wrapper div{
    background-color: var(--main-shadow);
    /* border-bottom: 0.1rem solid var(--main-shadow); */
    margin-bottom: 1rem;
    /* padding: 1rem; */
    border-radius: 00.5rem;
    color: var(--text-white);
}

#details-wrapper div h3{
    font-family: 'Cookie', cursive;
    letter-spacing: 0.1em;
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 00.5rem;
    background-color: var(--main-bg);
    margin: 0.5rem;
}

#details-wrapper div p{
    padding: 0.5rem;
    font-size: 1.6rem;
    color: black;
    font-weight: 700;
}

#details-wrapper div:first-child p{
    display: flex;
    gap: 2rem;
}

#booking-form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
#date-input-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* text-align: center; */
}

#booking-form-wrapper div{
    padding: 0.5rem;
    overflow: scroll;
}

#booking-form{
    background-color: var(--main-shadow);
    color: black;
    font-weight: 600;
    max-width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
}

#booking-form input, #booking-form select{
    max-width: 100%;
    font-size: 2rem;
    background-color: var(--main-bg);
    color: var(--text-white);
}


#paymentMethod{
    font-size: 1.3rem !important;
}

#book-btn{
    background-color: var(--main-color) !important;
    font-weight: 600;
    float: right;
}

#booking-form-wrapper div h3{
    font-family: 'Cookie', cursive;
    padding: 1rem 0.5rem;
    font-size: 2.6rem;
    letter-spacing: 0.1em;
    padding-bottom: 00.5rem !important;
}

#booking-form-wrapper div h5{
    font-size: 1.7rem;
    padding: 0.5rem;
}

#book-signin-btn{
    background-color: var(--main-color);
    font-weight: bold;
}

#book-signin-btn:hover{
    transform: scale(1.02);
    transition: 0.1s linear;
}

#amenities-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 00.5rem;
}

#amenities-container p{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    font-size: 1.4rem !important;
}

/* my account pagge css  */
#user_info_wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem;
}
#user_info_wrapper div{
    color: var(--main-bg);
    border-radius: 0.5rem !important;
}

#user_info_wrapper div h2{
    background-color: var(--main-shadow);
    font-family: 'Cookie', cursive;
    font-size: 4rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem !important;
}
#user_info_wrapper div h5{
    /* background-color: var(--main-shadow); */
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem !important;
}
#edit-btn,#add-property-btn{
    color: var(--main-color);
    font-weight: bold;
    font-family: monospace;
    background-color: var(--main-shadow);
}
#add-property-btn{
    background-color: var(--main-bg);
    margin: 0 0.5rem;
}
#user_info_wrapper div h5 span{
    font-family: 'Cookie', cursive !important;
    font-size: 2.5rem !important;
    color: var(--main-shadow);
}
#user_info_wrapper form
{
    background-color: var(--main-shadow);
    border-radius: 0.5rem !important;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#user_info_wrapper form button{
    background-color: var(--main-color);
    max-width: fit-content;
}

#user_info_wrapper form input{
    background-color: var(--main-bg);
    color: var(--main-shadow);
}

.no-data-container{
    background-color: var(--main-shadow);
    font-size: 1.5rem;
    padding: 4rem;
    font-weight: bold;
}

#my-property-container,#my-boookings-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

